@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Styles/StyleHome.css" />

<main class="home-page">
    <section class="intro text-center">
        <h1>Bienvenido a la Aplicación</h1>
        <p class="lead">Esta aplicación te permitirá gestionar y visualizar empleados de manera eficiente.</p>
        <p><a href="@Url.Action("Index", "Employee")" class="btn btn-primary btn-lg">Ver Empleados &raquo;</a></p>
    </section>
</main>
